[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile
[submodule "FastLED"]
	path = FastLED
	url = https://github.com/FastLED/FastLED
[submodule "NeoHWSerial"]
	path = NeoHWSerial
	url = git@github.com:SlashDevin/NeoHWSerial.git
